<% content_for :title, "Guided - Nearest landmark" %>

<!-- Banner  -->
<div class="landmarkshow-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url(<%= @nearest_landmark.image %>);">
  <div class="landmarkbanner-content">
    <p>
      Your nearest landmark
    </p>
    <h1>
      <%= @nearest_landmark.name %>
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-12 col-lg-6 landmarkshow-content">
      <p>
        <%= @nearest_landmark.description %>
      </p>
    </div>

<!-- Display Stories attached to current nearest location -->
    <div class="col-xs-12">
      <%= render 'stories/story_list', stories: @stories %>
    </div>

<!-- Add a new story -->
    <div class="col-xs-12 new-nearest-story-button">
      <% if current_user != nil %>
      <%= link_to new_story_path(landmark: @nearest_landmark.id), class: "link-success" do %>
      <i class="fa fa-plus"></i> Add a story
      <% end %>
      <% else %>
      <%= link_to new_user_session_path, class: "link-success" do %>
      <i class="fa fa-plus"></i> Add a story
      <% end %>
      <% end %>
    </div>
  </div>

<!--   Show 4 nearest landmarks + map -->
  <div class="row">
    <div class="col-xs-12">
      <h2>Other landmarks near you</h2>
      <%= render 'landmark_list', landmarks: @landmarks.drop(1) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'shared/map', markers: @markers %>
    </div>
  </div>
</div>


<!--################## Experimentation zone ##############################################-->

<div class="container">
  <h1>Nearby Google Places</h1>
  <div class="row">
    <% @places.each do |place| %>  <!-- Start -->
    <div class="col-xs-12 col-md-6">
      <% if place.photos[0] != nil %> <!-- Start -->

      <div class="card landmark-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= place.photos[0].fetch_url(400) %>);">
        <% else %>
        <div class="card landmark-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(http://21642-presscdn.pagely.netdna-cdn.com/wp-content/themes/nucleare-pro/images/no-image-box.png;">
          <% end %> <!-- end -->

          <div class="card-description">
            <h2>
              <%= place.name %>(<%=place.vicinity%>)
            </h2>
            <p>
              <%= place.types %>
            </p>
          </div>
        </div>

        <div class="landmark-follow-star">
          <img src="<%= place.icon %>" alt="">
        </div>
      </div>

      <% end %> <!-- end -->
    </div>

    <!-- Input for places search-->
    <br>
    <input name="location" id="location" value="search" />
    <script>
      const locationInput = document.getElementById("location");
      console.log(locationInput.value);
      locationInput.addEventListener("click", (event) => {
      // console.log(event)
      console.log(locationInput.value)
      });
    </script>

<!-- Not going to work because input is javascript -->
    <% @client.predictions_by_input('locationInput.value') %>

</div>
</div>
