<% content_for :title, "Guided - " + @landmark.name %>

<div class="landmarkshow-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url(<%= @landmark.image %>);">
  <div class="landmarkbanner-content">
    <h1>
      <%= @landmark.name %>
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 landmarkshow-content">
      <p>
        <%= @landmark.description %>
      </p>

      <% if current_user != nil && current_user.first_name == "Dieter" %>
      <%= link_to landmark_path(@landmark), method: :delete, class: "btn trash-button" do %>
      <i class="fa fa-trash"></i>
      <% end %>
      <% end %>

    </div>
    <div class="col-xs-12">

      <%= render 'stories/story_list', stories: @stories %>
      <div class="add-story">

        <% if current_user != nil %>
        <%= link_to new_story_path(landmark: @landmark.id), class: "link-success" do %>
        <i class="fa fa-plus"></i> Add a story
        <% end %>
        <% else %>
        <%= link_to new_user_session_path, class: "link-success" do %>
        <i class="fa fa-plus"></i> Add a story
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <h2>Other landmarks near <%= @landmark.name %></h2>
        <%= render 'landmark_list', landmarks: @nearby_landmarks.first(2) %>
      </div>
    </div>
    <div class="col-xs-12 col-lg-12">
      <%= render 'shared/map', markers: @markers %>
    </div>

  </div>
</div>
