<%= render partial: 'shared/tiny_banner', locals: {
  image: "https://i0.wp.com/behindthelenscap.smugmug.com/Amsterdam/i-gPrPZck/0/ecde89d7/L/Amsterdam-kade-2-L.jpg?resize=800%2C500&ssl=1"
} %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="user-image" style="background-image:url('<%= image_path @user.image %>');"></div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div>
        <h1>
          <% if @user.first_name != nil && @user.last_name != nil %>
          <%= @user.first_name + " " + @user.last_name %>
          <% end %>
        </h1>
      </div>
      <div>
        <%  if @user.city != nil %>
        <strong>City: </strong><%= @user.city %>
        <% end %>
      </div>
      <div>
        <%  if @user.description != nil %>
        <%= @user.description %>
        <% end %>
      </div>
    </div>
  </div>
  <div>
    <%  if @user.first_name != nil %>
    <h3>Stories by <%= @user.first_name %></h3>
  <%= render 'stories/story_list', stories: @stories %>
    <% end %>
<div class="text-align-center-div">
  <%= link_to "Update user info", edit_user_path, class: "btn btn-primary"  %>
<%= link_to "Update email and password", edit_user_registration_path, class: "btn btn-danger"  %>
  <%= link_to "Upload a new story", new_story_path, class: "btn btn-success story-upload-btn" %>
</div>
  </div>
</div>


