<% content_for :title, "Guided - " + @user.first_name + " " + @user.last_name %>

<%= render partial: 'shared/tiny_banner', locals: {
  image: "https://i0.wp.com/behindthelenscap.smugmug.com/Amsterdam/i-gPrPZck/0/ecde89d7/L/Amsterdam-kade-2-L.jpg?resize=800%2C500&ssl=1"
} %>

<!-- Count Karma -->
<% count = 0 %>
<% @stories.each do |story| %>
<% count += story.votes_for.size%>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="user-bio-profile">
      <div class="user-image" style="background-image:url('<%= image_path @user.image %>');">
        <span class="orb">
          <i class="fa fa-bolt"></i>
          <span>
            <%= count %>
          </span>
        </span>

      </div>
      <div>
        <h1 class="header-with-item">
          <% if @user.first_name != nil && @user.last_name != nil %>
          <%= @user.first_name + " " + @user.last_name %>
          <% end %>
          <% unless current_user.id == @user.id %>
<div class="user-follow-star">
  <%= link_to follow_user_path(@user), method: :put, remote: true do %>
  <% if current_user.following?(@user) %>
  <i class="fa fa-fw fa-star following-star" data-id='<%= @user.id %>'></i>
  <% else %>
  <i class="fa fa-fw fa-star" data-id='<%= @user.id %>'></i>
  <% end %>
  <% end %>
</div>
<% end %>
        </h1>

<!--         <button type="button" class="btn btn-success"> <span class="badge"></span></button>
-->      </div>


<div>
  <%  if @user.city != nil %>
  <h5 class="highlight-down">
  <%= @user.city %>

  </h5>
  <% end %>
</div>
<div>
  <%  if @user.description != nil %>
  <%= @user.description %>
  <% end %>
  <br>
</div>
<ul class="list-unstyled user-actions">
        <% if current_user.id == @user.id %>
        <!-- Buttons -->
        <li>
        <%= link_to edit_user_registration_path, class: "link-warning" do %>
        <i class="fa fa-pencil-square-o"></i> Edit your profile
        <% end %>
        </li>
        <li>
        <%= link_to new_story_path, class: "link-success" do %>
        <i class="fa fa-plus"></i> Add a story
        <% end %>
        </li>
        <% end %>
        </ul>



<% if current_user.id == @user.id %>
  <!-- Stories: -->
  <div class="current-user-stories">
    <%  if @user.first_name != nil %>
    <h3>Your Stories</h3>
    <%= render 'stories/story_list', stories: @stories %>
    <% end %>
    <% if @user.stories.count == 0 %>
      <p>
        You have not told a story yet.
      </p>
    <% end %>
  </div>
  <% end %>
 </div>
</div>



<div class="col-xs-12 col-md-9">
  <% unless current_user.id == @user.id %>
  <!-- Stories: -->
  <div>
    <%  if @user.first_name != nil %>
    <h3>Stories by <%= @user.first_name %></h3>
    <%= render 'stories/story_list', stories: @stories %>
    <% end %>

  </div>
  <% end %>


  <% if current_user.id == @user.id %>
  <div>
    <h3>Story feed</h3>
    <%= render 'story_feed', stories: @feed_stories %>
  <% if @feed_stories.count == 0 %>
    <p>
      New stories about landmarks or from users you are following will show up here.
    </p>
  <% end %>
  </div>


  <!-- Following landmarks/users -->
  <div>
    <div>
      <h3>Following Landmarks</h3>
      <%= render 'landmarks/landmark_list', landmarks: @following_landmarks %>
      <% if @following_landmarks.count == 0 %>
        <p>
          Start following <%= link_to landmarks_path do %>some landmarks <% end %> you are interested in.
        </p>
      <% end %>
    </div>

    <div>
      <h3>Following Storytellers</h3>
      <ul class="list-inline">
        <% @following_users.each do |user| %>
        <li>
          <%= link_to user do %>
          <div class="class=list-inline-item user-image following-storyteller" style="background-image:url('<%= image_path user.image %>');"></div>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% if @following_users.count == 0 %>
        <p>
          Start following <%= link_to stories_path do %>other storytellers <% end %>you are interested in.
        </p>
      <% end %>
    </div>
    </div>
  </div>
  <% end %>


</div>
</div>

</div>


