<div class="row">
  <% stories.each do |story|%>
  <div class="col-xs-12">
    <div class="story-list">
 <!--    <div class='story-list-upvote'>
      <div class="story-list-arrow"></div>
      <div class='story-list-count'>0</div>
    </div> -->
    <div class='story-list-top'>
    <%= link_to story_path(story), class:"story-link" do %>
      <%= cl_image_tag(story.image, class: "story-list-image hidden-xs") %>
      <div class='story-list-body'>
        <h3><%= story.title %></h3>
        <p><%= story.description %></p>
      </div>
      <% end %>
    </div>
    <div class="story-list-player">
      <ul class="story-list-controls hidden-sm hidden-xs">
        <% if story.audio.filename %>
        <li><%= audio_tag(cloudinary_url(story.audio.filename.sub(/\.[^.]+\z/, '.mp3'), resource_type: :video), controls: true) %></li>
        <% end %>
        <!--  <li><a href=""><i class="fa fa-star"></i></a></li> -->
      </ul>
    </div>
  </div>
</div>
<% end %>
</div>
