<% content_for :title, "Guided - Edit Story" %>

<!-- Navbar -->
<%= render partial: 'shared/tiny_banner', locals: {
  image: ""
} %>

<!-- Background image -->
<% link = ['https://static.pexels.com/photos/15286/pexels-photo.jpg', 'https://static.pexels.com/photos/374710/pexels-photo-374710.jpeg', 'https://static.pexels.com/photos/572688/pexels-photo-572688.jpeg', 'https://static.pexels.com/photos/52599/pexels-photo-52599.jpeg'].sample %>
<div class="background-image" style="background-image:url(<%=link%>);"></div>


<!-- Input form -->
  <div class="form-container">

  <%= simple_form_for(@story) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <% if @landmark == nil %>
    <%= f.association :landmark, collection: Landmark.all %>
  <% else %>
    <%= f.input :landmark_id, input_html: { value: @landmark.id }, as: :hidden %>
  <% end %>
  <%= f.input :category, collection: ["Informative", "Shopping", "Comedy", "Food", "History", "Personal"] %>
  <%= f.input :language, collection: ["English", "Dutch"] %>
  <%= f.input :image %>
  <%= f.input :image_cache, as: :hidden %>
  <%= f.input :audio %>

  <div class="buttons-on-one-line">
  <%= f.submit "Update your story", class:"btn btn-success"%>
  <%= link_to "Back", :back, class:"story-back-button" %>
  </div>
  <% end %>

  </div>


