<%= render partial: 'shared/tiny_banner', locals: {
  image: "https://i0.wp.com/behindthelenscap.smugmug.com/Amsterdam/i-gPrPZck/0/ecde89d7/L/Amsterdam-kade-2-L.jpg?resize=800%2C500&ssl=1"
} %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="landmarkshow-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.1) 50%), url(<%= @story.image %>);">
        <div class="landmarkbanner-content">
          <h1>
            <%= @story.title %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 landmarkshow-content">
      <div>
        <%= @story.description %>
      </div>
      <div>
        <strong>Created by: </strong>
        <%= link_to user_path(@story.user) do %>
        <%= @story.user.first_name + " " + @story.user.last_name %>
        <% end %>
      </div>
      <div>
        <strong>Language: </strong><%= @story.language %>
      </div>
      <div>
        <strong>Category: </strong><%= @story.category %>
      </div>
      <div>
        <strong>Landmark: </strong>
          <%= link_to landmark_path(@story.landmark) do %>
            <%= @story.landmark.name %>
          <% end %>
      </div>

      <div>
        <%= cl_image_tag(@story.audio.filename.sub(/\.[^.]+\z/, '.png'), height: 100, width: 300, flags: "waveform", resource_type: "video", color: "blue", background: "transparent") %>


        <%= audio_tag(cloudinary_url(@story.audio.filename.sub(/\.[^.]+\z/, '.mp3'), resource_type: :video), controls: true) %>
      </div>
    </div>
  </div>

<%= link_to "Delete Story", story_path(@story), method: :delete, class: "btn btn-danger"%>

</div>
