<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= yield(:title) %></title>
  <%= favicon_link_tag 'favicon.png' %>

  <!-- iOS WEB-APP -->
  <%= favicon_link_tag 'guided_icon_app.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
  <meta name="apple-mobile-web-app-title" content="Guided">
  <!-- END iOS WEB-APP -->


  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta property="og:title" content="Guided - Everyone is a storyteller" />
  <meta property="og:description" content="Listen to audio stories about your current location, wherever you are. Done listening? Create and share your stories right on the website" />
  <meta property="og:type" content="Website" />
  <meta property="og:url" content="https://www.guided.club" />
  <meta property="og:image" content="https://res.cloudinary.com/dieter/image/upload/v1511799920/Guided1200_eg4hfg.jpg" />
</head>

<body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

<div class="all-content-yielded">
  <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
  <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

  <%= javascript_include_tag "application" %>

  <%= yield(:after_js) %>
</body>
</html>
